@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

#App {
  @apply h-screen;
  font-family: 'Alike', serif;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.landing-right {
  @apply hidden;
  object-fit: cover;
}

#content h4 {
  @apply text-2xl;
}

#content p {
  @apply text-lg pt-2 pb-6;
}

.content-bg-underlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#logos {
  @apply pt-16 pb-16;
}

#logos .logo {
  @apply inline h-12;
}

#logos .name {
  @apply px-4;
}

i {
  @apply text-xl pr-4;
}

.circle-icon {
  @apply rounded-full h-5 w-5 p-0 flex items-center justify-center bg-black text-white;
  display: inline-block !important;
}

.circle-icon i {
  @apply text-sm;
  padding-left: 0.2rem;
  vertical-align: 0.1rem;
}
